@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.beta.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../resources/sass/partials/_global.scss */
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* line 5, ../resources/sass/partials/_global.scss */
section, section * {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* line 10, ../resources/sass/partials/_global.scss */
#canvas {
  position: relative;
  margin: 0;
  width: 320px;
  height: 480px;
  background: #eee;
}
/* line 17, ../resources/sass/partials/_global.scss */
#canvas section {
  width: 320px;
  height: 480px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

/* line 24, ../resources/sass/partials/_global.scss */
#poodler-y {
  bottom: 0;
  left: 0;
  width: 46px;
  height: 45px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
}
/* line 32, ../resources/sass/partials/_global.scss */
#poodler-y.bounce-down {
  -webkit-transition-timing-function: ease-in;
}

/* line 37, ../resources/sass/partials/_global.scss */
#poodler-x {
  bottom: -45px;
  left: 31px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
}

/* line 44, ../resources/sass/partials/_global.scss */
#poodler-z {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: rotateY(0);
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ff0000), color-stop(50%, #ff0000), color-stop(50%, #0000ff), color-stop(100%, #0000ff));
  background: -moz-linear-gradient(left, #ff0000, #ff0000 50%, #0000ff 50%, #0000ff);
  background: linear-gradient(left, #ff0000, #ff0000 50%, #0000ff 50%, #0000ff);
  -webkit-backface-visibility: visible;
}
/* line 52, ../resources/sass/partials/_global.scss */
#poodler-z.right {
  -webkit-transform: rotateY(-180deg);
}

/* line 57, ../resources/sass/partials/_global.scss */
.platform {
  bottom: 90px;
  left: 30px;
  position: absolute;
  display: block;
  width: 57px;
  height: 15px;
  background: rgba(0, 0, 255, 0.5);
  border-radius: 10px;
}

/* line 1, ../resources/sass/partials/_header.scss */
header {
  display: none;
}
